.score-card a {
    text-decoration: none;
}

.score-card .mdc-card {
    padding: 8px;
}

.score-card .score-card__score {
    text-align: right;
}

.score-card .mdc-card__secondary {
    margin-top: 10px;
}
