<div class="score-card mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
    <NavLink href=@($"/game/{GameId}")>
        <div class="mdc-card mdc-card--outlined">
            <div class="mdc-card__primary">
                <div class="mdc-layout-grid__inner">
                    <div
                        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-phone mdc-layout-grid__cell--span-10-desktop">
                            @AwayTeam
                    </div>
                    <div
                        class="score-card__score mdc-layout-grid__cell mdc-layout-grid__cell--span-1-phone mdc-layout-grid__cell--span-2-desktop">
                            @AwayScore
                    </div>
                    <div
                        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-3-phone">
                            @HomeTeam
                    </div>
                    <div
                        class="score-card__score mdc-layout-grid__cell mdc-layout-grid__cell--span-1-phone mdc-layout-grid__cell--span-2-desktop">
                            @HomeScore
                    </div>
                </div>
            </div>
            <div class="mdc-card__secondary">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    @GetQuarterText(Quarter) - @QuarterTimeRemaining
                </div>
                <div class="score-card-description mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    @LastPlayDescription
                </div>
            </div>
        </div>
    </NavLink>
</div>

@code {
    [Parameter]
    public int GameId { get; set; }

    [Parameter]
    public string AwayTeam { get; set; } = "";

    [Parameter]
    public int AwayScore { get; set; } = 0;

    [Parameter]
    public string HomeTeam { get; set; } = "";

    [Parameter]
    public int HomeScore { get; set; } = 0;

    [Parameter]
    public string LastPlayDescription { get; set; } = "Last play";

    [Parameter]
    public int Quarter { get; set; } = 1;

    [Parameter]
    public string QuarterTimeRemaining { get; set; } = "";

    string GetQuarterText(int quarter) => quarter switch
    {
        1 => "1st",
        2 => "2nd",
        3 => "3rd",
        4 => "4th",
        5 => "OT",
        _ => ""
    };
}
