@page "/game/{GameId:int}"

<div>
    Game Page
</div>

@code {
    [Parameter]
    public int GameId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
        }
        catch (Exception e)
        {

        }
    }
}
