@page "/"

@using System.Net.Http
@using Football.Core.Models
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.Extensions.Logging
@using Scoreboard.Client.Shared.Components
@using Scoreboard.Client.ViewModels

@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject ILoggerProvider LoggerProvider
@inject ILogger<Index> logger
@inject Config.AppSettings AppSettings

<div>
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2"></div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <div class="mdc-layout-grid__inner score-grid">
                @foreach (var gameState in gameStates)
                {
                    <GameCard GameId="@gameState.Id" AwayTeam="@gameState.AwayTeam" AwayScore=@gameState.AwayScore
                    HomeTeam="@gameState.HomeTeam" HomeScore=@gameState.HomeScore
                    QuarterTimeRemaining="@gameState.QuarterTimeRemaining" />
                }
            </div>
        </div>
    </div>
</div>

@code {
    private HubConnection? hubConnection;
    private IReadOnlyList<GameState> gameStates = new List<GameState>();

    protected override async Task OnInitializedAsync()
    {
        // TODO: check best practice for error handling in this method
        try
        {
            var weekGames = await Http.GetFromJsonAsync<Game[]>("https://localhost:11517/api/football/games/week/1");
            gameStates = weekGames.Select(g => new GameState
            {
                Id = g.Id,
                Week = g.Week,
                Quarter = 1,
                QuarterSecondsRemaining = 900,
                HomeTeam = g.HomeTeam,
                HomeScore = 0,
                AwayTeam = g.AwayTeam,
                AwayScore = 0
            }).ToList();

            Uri hubUri = new Uri(AppSettings.HubEndpoint);

            hubConnection = new HubConnectionBuilder()
            .WithUrl(hubUri)
            .ConfigureLogging(logging => logging.AddProvider(LoggerProvider))
            .Build();

            hubConnection.On<Play>("ReceivePlay", (play) =>
            {
                var game = gameStates.Single(game => game.Id == play.Game.Id);
                game.HomeScore = play.HomeScore;
                game.AwayScore = play.AwayScore;
                game.Quarter = play.Quarter;
                game.QuarterSecondsRemaining = play.QuarterSecondsRemaining;
                game.Description = play.Description;

                StateHasChanged();
            });

            await hubConnection.StartAsync();
        }
        catch (Exception ex)
        {
            logger.LogError(ex.ToString());
        }
    }
}
