name: footballscoreboard_localdb_compose

services:
  # db:
  #   container_name: footballscoreboard_localdb
  #   image: mysql:8.0.28-debian
  #   command: --default-authentication-plugin=mysql_native_password
  #   ports:
  #     - 3306:3306
  #   environment:
  #     MYSQL_DATABASE: footballscoreboard_db
  #   env_file:
  #     - .env.localdb
  #   volumes:
  #     - ./.docker/volumes/localdb:/var/lib/mysql
  #     - ./scripts/localdb:/docker-entrypoint-initdb.d
  #   networks:
  #     - db_net

  db:
    container_name: footballscoreboard_localdb
    image: postgres:17
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: footballscoreboard_db
      PGDATA: /var/lib/postgresql/17/docker
    volumes:
      - ./.docker/volumes/localdb:/var/lib/postgresql
      - ./scripts/localdb:/docker-entrypoint-initdb.d
    env_file:
      - .env.localdb
    networks:
      - db_net

  # pgloader:
  #   container_name: footballscoreboard_pgloader
  #   image: dimitri/pgloader:latest
  #   networks:
  #     - db_net
  #   depends_on:
  #     - db
  #     - postgresdb
  #   command: tail -f /dev/null

  db_viewer:
    container_name: footballscoreboard_localdb_viewer
    image: adminer
    ports:
      - 8080:8080
    networks:
      - db_net
    depends_on:
      - db

networks:
  db_net:
    driver: bridge
