name: footballscoreboard_dbtests_compose

services:
  testdb:
    container_name: footballscoreboard_testdb
    image: postgres:17
    ports:
      - 5433:5432
    environment:
      POSTGRES_DB: footballscoreboard_db
      PGDATA: /var/lib/postgresql/17/docker
    volumes:
      - ./.docker/volumes/testdb:/var/lib/postgresql
      - ./scripts/testdb:/docker-entrypoint-initdb.d
    env_file:
      - .env.testdb
    networks:
      - testdb_net

  testdb_viewer:
    container_name: footballscoreboard_testdb_viewer
    image: adminer
    ports:
      - 8081:8080
    networks:
      - testdb_net
    depends_on:
      - testdb

networks:
  testdb_net:
    driver: bridge
