<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 score-card">
    <a href="game/@GameId/@AwayTeam/@HomeTeam">
        <div class="mdc-card mdc-card--outlined">
            <div class="mdc-card__primary">
                <div class="mdc-layout-grid__inner">
                    <div
                        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-3-phone">
                        @AwayTeam</div>
                    <div
                        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-1-phone score-card__score">
                        @AwayScore</div>
                </div>
                <div class="mdc-layout-grid__inner">
                    <div
                        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-3-phone">
                        @HomeTeam</div>
                    <div
                        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-1-phone score-card__score">
                        @HomeScore</div>
                </div>
            </div>
            <div class="mdc-card__secondary">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    @QuarterTimeRemaining
                </div>
            </div>
        </div>
    </a>
</div>

@code {
    [Parameter]
    public int GameId { get; set; }

    [Parameter]
    public string AwayTeam { get; set; } = "";

    [Parameter]
    public int AwayScore { get; set; } = 0;

    [Parameter]
    public string HomeTeam { get; set; } = "";

    [Parameter]
    public int HomeScore { get; set; } = 0;

    [Parameter]
    public string QuarterTimeRemaining { get; set; } = "";
}
