@page "/"
@using System.Net.Http
@using Football.Application.Features.Games.Models
@using Football.Application.Features.Plays.Models
@using Football.Blazor.Components
@using Football.Infrastructure.Exceptions

@inherits GameComponentBase

<div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12" style="text-align: center">
        <span class="mdc-typography--body2">Games</span>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-2-desktop"></div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-8-desktop">
        <div class="mdc-layout-grid__inner">
            @if (hubConnectionFailed)
            {
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-12-desktop">
                    <div style="text-align: center; padding: 20px;">
                        <p class="mdc-typography--body1">An error occurred. Live score updates are unavailable.</p>
                        <button class="mdc-button mdc-button--raised" @onclick="ReloadPage">
                            <span class="mdc-button__label">Reload</span>
                        </button>
                    </div>
                </div>
            }
            @if (playsToUpdate.Count() > 0)
            {
                foreach (var play in playsToUpdate)
                {
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
                        <GameCard GameId="@play.GameId" Play="@play" />
                    </div>
                }
            }
            else if (!loadFailed && !hubConnectionFailed)
            {
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-12-desktop" style="text-align: center; padding: 40px;">
                    <div class="mdc-circular-progress mdc-circular-progress--indeterminate" style="width:48px;height:48px;" role="progressbar" aria-label="Loading..." aria-valuemin="0" aria-valuemax="1">
                        <div class="mdc-circular-progress__determinate-container">
                            <svg class="mdc-circular-progress__determinate-circle-graphic" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                <circle class="mdc-circular-progress__determinate-circle" cx="24" cy="24" r="18" stroke-dasharray="113.097" stroke-dashoffset="113.097"/>
                            </svg>
                        </div>
                        <div class="mdc-circular-progress__indeterminate-container">
                            <div class="mdc-circular-progress__spinner-layer">
                                <div class="mdc-circular-progress__circle-clipper mdc-circular-progress__circle-left">
                                    <svg class="mdc-circular-progress__indeterminate-circle-graphic" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="24" cy="24" r="18" stroke-dasharray="113.097" stroke-dashoffset="56.549"/>
                                    </svg>
                                </div>
                                <div class="mdc-circular-progress__gap-patch">
                                    <svg class="mdc-circular-progress__indeterminate-circle-graphic" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="24" cy="24" r="18" stroke-dasharray="113.097" stroke-dashoffset="56.549"/>
                                    </svg>
                                </div>
                                <div class="mdc-circular-progress__circle-clipper mdc-circular-progress__circle-right">
                                    <svg class="mdc-circular-progress__indeterminate-circle-graphic" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="24" cy="24" r="18" stroke-dasharray="113.097" stroke-dashoffset="56.549"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else if (loadFailed)
            {
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-12-desktop">
                    <div style="text-align: center; padding: 20px;">
                        <p class="mdc-typography--body1">An error occurred. The games could not be loaded.</p>
                        <button class="mdc-button mdc-button--raised" @onclick="RetryLoadGames">
                            <span class="mdc-button__label">Retry</span>
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-2-desktop"></div>
</div>

@code {
    private bool hubConnectionFailed = false;

    private IReadOnlyList<PlayDto> playsToUpdate = new List<PlayDto>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            HttpClient httpClient = HttpClientFactory.CreateClient(Constants.DefaultHttpClient);
            GameDto[]? games = await httpClient.GetFromJsonAsync<GameDto[]>($"games/now");

            if (games is not null && games.Count() > 0)
            {
                playsToUpdate = games.Select(game => GetPlayFromGame(game)).ToList();

                await InitializeHubConnection((playReceived) =>
                {
                    // TODO: check exception state when calling Single() and handle if the play isn't found or found twice
                    PlayDto playToUpdate = playsToUpdate.Single(play => play.GameId == playReceived.GameId);
                    playToUpdate.HomeScore = playReceived.HomeScore;
                    playToUpdate.AwayScore = playReceived.AwayScore;
                    playToUpdate.Quarter = playReceived.Quarter;
                    playToUpdate.QuarterSecondsRemaining = playReceived.QuarterSecondsRemaining;
                    playToUpdate.Description = playReceived.Description;

                    StateHasChanged();
                });
            }
        }
        catch (HubException ex)
        {
            hubConnectionFailed = true;
            Logger.LogError(ex, "Index page: There was an error initializing the Hub connection.");
        }
        catch (Exception ex)
        {
            loadFailed = true;
            Logger.LogError(ex, "Index page: There was an error loading the game data.");
        }
    }

    private async Task RetryLoadGames()
    {
        loadFailed = false;
        hubConnectionFailed = false;
        playsToUpdate = new List<PlayDto>();
        await OnInitializedAsync();
    }

    private void ReloadPage()
    {
        NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
    }
}
