@page "/"

@using System.Net.Http
@using Football.Application.Features.Games.Models
@using Football.Application.Features.Plays.Models
@using Football.Application.Interfaces
@using Microsoft.AspNetCore.SignalR.Client
@using Serilog
@using Serilog.Extensions.Logging
@using Settings

@inject HttpClient Http
@inject IHubManager HubManager
@inject NavigationManager NavigationManager
@inject ScoreboardSettings ScoreboardSettings

<div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12" style="text-align: center">Week @ScoreboardSettings.Week Games</div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-2-desktop"></div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-8-desktop">
        <div class="mdc-layout-grid__inner">
            @if (currentPlays.Count() == 0 && !errorOcurred)
            {
                <div>Loading</div>
            }
            else if (currentPlays.Count() == 0 && errorOcurred)
            {
                <div>An error ocurred. The game could not be loaded.</div>
            }
            else if (currentPlays.Count() > 0)
            {
                foreach (var currentPlay in currentPlays)
                {
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
                        <GameCard GameId="@currentPlay.GameId" Play="@currentPlay" />
                    </div>
                }
            }
        </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-2-desktop"></div>
</div>

@code {
    private bool errorOcurred = false;

    private IReadOnlyList<PlayDto> currentPlays = new List<PlayDto>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Uri apiUri = new Uri(ScoreboardSettings.ApiBaseUrl ?? throw new Exception("ApiBaseUrl setting is not defined."));
            var games = await Http.GetFromJsonAsync<GameDto[]>(new Uri(apiUri, $"games?week={ScoreboardSettings.Week}"));

            if (games is not null && games.Count() > 0)
            {
                currentPlays = games.Select(game =>
                {
                    return new PlayDto
                    {
                        Id = 0,
                        GameId = game.Id,
                        HomeTeam = game.HomeTeam,
                        HomeScore = game.HomeScore,
                        AwayTeam = game.AwayTeam,
                        AwayScore = game.AwayScore,
                        Quarter = game.Quarter,
                        QuarterSecondsRemaining = game.QuarterSecondsRemaining
                    };
                }).ToList();

                HubManager.On<PlayDto>("ReceivePlay", (nextPlay) =>
                {
                    PlayDto newPlay = currentPlays.Single(play => play.GameId == nextPlay.GameId);
                    newPlay.HomeScore = nextPlay.HomeScore;
                    newPlay.AwayScore = nextPlay.AwayScore;
                    newPlay.Quarter = nextPlay.Quarter;
                    newPlay.QuarterSecondsRemaining = nextPlay.QuarterSecondsRemaining;
                    newPlay.Description = nextPlay.Description;

                    StateHasChanged();
                });

                await HubManager.StartAsync(new CancellationToken());
            }
        }
        catch (Exception ex)
        {
            errorOcurred = true;
            Log.Error(ex, "Index page: There was an error loading the game data.");
        }
    }
}
