@page "/"

@using System.Net.Http
@using Football.Application.Features.Games.Models
@using Football.Application.Features.Plays.Models
@using Football.Application.Interfaces
@using Football.Infrastructure.Extensions
@using Football.Infrastructure.Options
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.Extensions.Logging
@using Microsoft.Extensions.Options
@using Polly
@using FootballHubExtensions = Football.Infrastructure.Extensions.HubConnectionExtensions

@inject IHttpClientFactory HttpClientFactory
@inject IHubConnectionFactory<HubConnection> HubConnectionFactory
@inject IOptions<HubOptions> HubOptions
@inject NavigationManager NavigationManager
@inject ILogger<Index> Logger

<div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12" style="text-align: center">
        <span class="mdc-typography--body2">Games</span>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-2-desktop"></div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-8-desktop">
        <div class="mdc-layout-grid__inner">
            @if (currentPlays.Count() > 0)
            {
                foreach (var currentPlay in currentPlays)
                {
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
                        <GameCard GameId="@currentPlay.GameId" Play="@currentPlay" />
                    </div>
                }
            }
            else if (!errorOcurred)
            {
                <div>Loading</div>
            }
            else if (errorOcurred)
            {
                <div>An error ocurred. The games could not be loaded.</div>
            }
        </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-2-desktop"></div>
</div>

@code {
    private bool errorOcurred = false;

    private HubConnection? hubConnection;

    private HubOptions hubOptions => HubOptions.Value;

    private IReadOnlyList<PlayDto> currentPlays = new List<PlayDto>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            HttpClient httpClient = HttpClientFactory.CreateClient(Constants.DefaultHttpClient);
            GameDto[]? games = await httpClient.GetFromJsonAsync<GameDto[]>($"games/now");

            if (games is not null && games.Count() > 0)
            {
                currentPlays = games.Select(game =>
                {
                    return new PlayDto
                    {
                        Id = 0,
                        GameId = game.Id,
                        HomeTeam = game.HomeTeam,
                        HomeScore = game.HomeScore,
                        AwayTeam = game.AwayTeam,
                        AwayScore = game.AwayScore,
                        Quarter = game.Quarter,
                        QuarterSecondsRemaining = game.QuarterSecondsRemaining
                    };
                }).ToList();

                hubConnection = HubConnectionFactory.CreateHubConnection();
                hubConnection.On<PlayDto>("ReceivePlay", (nextPlay) =>
                {
                    PlayDto newPlay = currentPlays.Single(play => play.GameId == nextPlay.GameId);
                    newPlay.HomeScore = nextPlay.HomeScore;
                    newPlay.AwayScore = nextPlay.AwayScore;
                    newPlay.Quarter = nextPlay.Quarter;
                    newPlay.QuarterSecondsRemaining = nextPlay.QuarterSecondsRemaining;
                    newPlay.Description = nextPlay.Description;

                    StateHasChanged();
                });

                ResiliencePipeline pipeline = FootballHubExtensions.GetHubConnectionPipeline(hubOptions, Logger);

                await hubConnection.StartWithRetryAsync(pipeline, new CancellationToken());
            }
        }
        catch (Exception ex)
        {
            errorOcurred = true;
            Logger.LogError(ex, "Index page: There was an error loading the game data.");
        }
    }
}
