name: ci
run-name: Run CI

on:
  push:
    paths-ignore:
      - '**/*.md'
      - '**/Dockerfile'
      - .docker/**
      - .vscode/**
      - .dockerignore
      - .editorconfig
      - coverage/**
      - docker-compose*
      - README.md

concurrency: ${{ github.workflow }}

jobs:
  ci:
    name: Run CI
    permissions:
      contents: read
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create test database
        env:
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
        run: |
          docker pull postgres:17
          docker run --name footballscoreboard_testdb -e POSTGRES_PASSWORD="$DB_PASSWORD" -e POSTGRES_DB=${{ vars.DB_NAME }} -p 5432:5432 -v ${{github.workspace}}/scripts/testdb:/docker-entrypoint-initdb.d -d postgres:17

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v4
        with:
          global-json-file: global.json

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'zulu'

      - name: Cache SonarCloud packages
        uses: actions/cache@v4
        with:
          path: ~/sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache SonarCloud scanner
        id: cache-sonar-scanner
        uses: actions/cache@v4
        with:
          path: ./.sonar/scanner
          key: ${{ runner.os }}-sonar-scanner
          restore-keys: ${{ runner.os }}-sonar-scanner

      - name: Install SonarCloud scanner
        if: steps.cache-sonar-scanner.outputs.cache-hit != 'true'
        shell: bash
        run: |
          dotnet tool update dotnet-sonarscanner --tool-path ./.sonar/scanner

      - name: Cache coverage tool
        id: cache-coverage-tool
        uses: actions/cache@v4
        with:
          path: ./.tools/coverage
          key: ${{ runner.os }}-coverage-tool
          restore-keys: ${{ runner.os }}-coverage-tool

      - name: Install Coverage Tool
        if: steps.cache-coverage-tool.outputs.cache-hit != 'true'
        shell: bash
        run: |
          dotnet tool update dotnet-coverage --tool-path ./.tools/coverage

      - name: Run Sonar scanner
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          CUSTOMCONNSTR_FootballDbConnection: Host=localhost;Database=${{ vars.DB_NAME }};Username=postgres;Password=${{ secrets.DB_PASSWORD }}
        run: |
          ./.sonar/scanner/dotnet-sonarscanner begin /k:"rolspace_blazor-football-scoreboard" /o:"rolspace" \
            /d:sonar.token="${{ secrets.SONAR_TOKEN }}" /d:sonar.host.url="https://sonarcloud.io" \
            /d:sonar.inclusions="**/src/**" /d:sonar.test.inclusions="**/tests/**" \
            /d:sonar.coverage.exclusions=**/Program.cs /d:sonar.cs.vscoveragexml.reportsPaths="coverage.xml" \

          dotnet restore
          dotnet build --configuration Release --no-restore
          ./.tools/coverage/dotnet-coverage collect 'dotnet test --no-restore' -f xml  -o 'coverage.xml'

          ./.sonar/scanner/dotnet-sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"
